<meta charset="UTF-8" />
<!-- JS FILE -->
<script src="/js/libs/jquery.min.js"></script>
<script src="/js/libs/jquery-ui.min.js"></script>
<script src="/js/libs/moment.min.js"></script>
<script src="/js/libs/popper.min.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>
<script src="/js/libs/sweetalert2.all.min.js"></script>
<script src="/js/libs/jquery-ui-timepicker.js"></script>
<script src="/js/libs/fullcalendar.min.js"></script>


<!-- CSS FILE -->
<link rel="stylesheet" type="text/css" href="/css/fullcalendar.min.css">
<link rel="stylesheet" type="text/css" href="/css/fullcalendar.print.min.css" media='print'>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/sweetalert2.min.css">
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-timepicker.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">



<script>
</script>